<div class="container col s8">
    <div class="row">
   
    </div>
    <form class="col s14">
      <div class="row">
        <div class="input-field hoverable col s12">
          <i class="material-icons prefix">contacts</i>
          <input id="nombre" [(ngModel)]="userGet.nombre" (change)="isNullNombre(userGet.nombre)" name="nombre" type="text" class="{{this.ValidateNombre}}">
          <label class="active" for="nombre">Nombres</label>
          <span class="helper-text" data-error="Campo vacio" data-success="Correcto"></span>
        </div>
        
      </div>
      <div class="row">
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">contacts</i>
          <input id="apellido1" [(ngModel)]="userGet.primerapellido" (change)="isNullApellido(userGet.primerapellido)" name="apellido1" type="text" class="">
          <label class="active" for="apellido1">Apellido Paterno</label>
          <span class="helper-text" data-error="Campo vacio" data-success="Correcto"></span>
        </div>
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">contacts</i>
          <input id="apellido2" [(ngModel)]="userGet.segundoapellido" (change)="isNullApellido(userGet.segundoapellido)" name="apellido2" type="text" class="">
          <label class="active" for="apellido2">Apellido Materno</label>
          <span class="helper-text" data-error="Campo vacio" data-success="Correcto"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">email</i>
          <input id="email" [(ngModel)]="userGet.email" (change)="isEmail()" name="email" type="email" class="{{this.ValidateEmail}}">
          <label class="active" for="email">Correo Electronico</label>
          <span class="helper-text" data-error="Correo invalido" data-success="Correcto">Ejemplo: nombre@correo.com</span>
        </div>
        <div class="input-field col s6">
          <select [(ngModel)]="this.Rol.Nombre" name="Rol" (change)="cambiarRol()" >
            <option value="0" disabled selected>Seleciona tu Rol</option>
            <ng-container>
            <option *ngFor="let item of this.arrRol" [value]="item.Nombre">{{item.Nombre}}</option>
            </ng-container>
          </select>
          <label id="slec">Roles disponibles</label>
        </div>
        
        
      </div>
      <div class="row">
          <div class="col s3 offset-s6"><button class="waves-effect waves-light btn deep-orange lighten-2 hoverable {{this.ValidateTotal}}" (click)="editUser()"><i class="large material-icons right">done</i>Actualizar</button></div>
          
          <div class="col s3"><a class="waves-effect waves-light btn deep-orange lighten-2 hoverable" routerLink="/"><i class="large material-icons right">close</i>Canelar</a></div>

      </div>
      <ng-container *ngIf="signInError;">
        <div class="divider"></div>
        <div class="row mt">
          <div class="col s12">
            <span class="red-text"></span>
          </div>          
        </div>
      </ng-container>
      
    </form>
  
  </div>


