<div class="container col s8">
    <div class="row">
   
    </div>
    <form class="col s14">
      <div class="row">
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">contacts</i>
          <input id="first_name" [(ngModel)]="user.nombre" (focusout)="isNullNombre(user.nombre)" name="nombre" type="text" class="{{this.ValidateNombre}}">
          <label for="first_name">Nombres</label>
          <span class="helper-text" data-error="Campo vacio" data-success="Correcto"></span>
        </div>
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">contacts</i>
          <input id="last_name" [(ngModel)]="user.apellido" (focusout)="isNullApellido(user.apellido)" name="apellido" type="text" class="{{this.ValidateApellido}}">
          <label for="last_name">Apellidos</label>
          <span class="helper-text" data-error="Campo vacio" data-success="Correcto"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field hoverable col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" [(ngModel)]="user.email" (focusout)="isEmail()" name="email" type="email" class="{{this.ValidateEmail}}">
          <label for="email">Correo Electronico</label>
          <span class="helper-text" data-error="Correo invalido" data-success="Correcto">Ejemplo: nombre@correo.com</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" [(ngModel)]="user.password" (focusout)="isNullPass1(user.password)" name="password" type="password" class="{{this.ValidatePass}}">
          <label for="password">Contraseña</label>
          <span class="helper-text" data-error="Contraseña invalida" data-success="Correcto">Longitud mínima 5 caracteres</span>
        </div>
        <div class="input-field hoverable col s6">
          <i class="material-icons prefix">replay</i>
          <input id="password2" type="password" [(ngModel)]="this.pass2" (input)="isNullPass2(this.pass2)" name="password2" class="{{this.ValidatePass2}}">
          <label for="password2">Repetir Contraseña</label>
          <span class="helper-text" data-error="Contraseña invalida" data-success="Correcto"></span>
        </div>
      </div>
      <div class="row">
          <div class="col s3 offset-s6"><button class="waves-effect waves-light btn deep-orange lighten-2 hoverable {{this.ValidateTotal}}" (click)="register()"><i class="large material-icons right">done</i>Registar</button></div>
          
          <div class="col s3"><a class="waves-effect waves-light btn deep-orange lighten-2 hoverable" routerLink="/"><i class="large material-icons right">close</i>Canelar</a></div>

      </div>
      <ng-container *ngIf="signInError;">
        <div class="divider"></div>
        <div class="row mt">
          <div class="col s12">
            <span class="red-text">{{this.ErrorMxg}}</span>
          </div>          
        </div>
      </ng-container>
      
    </form>
  
  </div>
