

<div class="row" id="project">
    <div class="col s5 ">
        <div class="card">
            <h5 class="header center-align orange-text">Lista de proyectos</h5>
            <hr class="list-divider">
            <ul class="list" style="width: 380px; height: 600px; overflow: auto">
              <li class="ripple" *ngFor="let item of this.listProject ; let i = index" (click)="openFolder(i);">
                <div class="valign-wrapper">
                  <i id="{{i}}" class="material-icons left circle white-text">{{item.icon}}</i>
                  <div class="title">
                   <h6><span class="black-text">{{item.name}}</span>  -  <span class="{{item.color}}-text">{{item.PorctajeR}}%</span> / <span class="green-text">{{item.PorctajeE}}%</span></h6>
                    <span>{{item.fechaIn}} - {{item.fechaFn}}</span>
                  </div>
                  <span class="new badge {{item.color}}" [attr.data-badge-caption]="item.estado"></span>
                </div>
              </li>
              <!-- <li class="waves-effect">
                <div class="valign-wrapper">
                  <i class="material-icons left circle white-text">folder_open</i>
                  <div class="title">
                    Trans Peru S.A.C<br>
                    <span>Marzo 15, 2021</span>
                  </div>
                  <span class="new badge red" data-badge-caption="Cerrado"></span>
                </div>
              </li>
              <li class="waves-effect">
                <div class="valign-wrapper">
                  <i class="material-icons left circle white-text">folder</i>
                  <div class="title">
                    Metro Linea5 ML<br>
                    <span>Noviembre 31, 2021</span>
                  </div>
                  <span class="new badge green" data-badge-caption="En Proceso"></span>
                </div>
              </li> -->
            </ul>
            <hr class="list-divider">
            <ul class="list">
              <li class="waves-effect" (click)="editOrCreateProject('create');">
                <div class="valign-wrapper">
                  <i class="material-icons left circle">create_new_folder</i>
                  <div class="title">
                    Crear Nuevo Proyecto<br>
                    
                  </div>
                </div>
              </li>
            </ul>
        </div>
    </div>
    <div class="col s1 "></div>
    <ng-container *ngIf="falgEdit;">
    <div class="col s5 ">
        <div class="row">
            <form class="select" id="reg-form ">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="nombreProyecto" name="nombreProyecto" type="text" class="validate"  [(ngModel)]="this.projectSelect.NombreProyecto" (change)="changeValue();">
                        <label class="active" for="nombreProyecto">Nombre de Proyecto</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="datepicker1" name="FechaInicioProyecto" type="text" class="datepicker"  [(ngModel)]="this.projectSelect.FechaInicioProyecto" (change)="changeValue();">
                        <label class="active" for="FechaInicioProyecto">Fecha de Inicio</label>
                    </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <select [(ngModel)]="this.typeProject.Nombre" name="typeProject" (change)="cambiarTypeProject();changeValue();" >
                      <option value="0" disabled selected>Seleciona el tipo de Proyecto</option>
                      <ng-container>
                      <option *ngFor="let item of this.arrtypeProjects" [value]="item.Nombre">{{item.Nombre}}</option>
                      </ng-container>
                    </select>
                    <label id="slec">Tipo de Proyecto</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="Colaboradores" type="text" name="Colaboradores" class="validate"  [(ngModel)]="this.projectSelect.CantidadAsignados" (change)="changeValue();">
                        <label class="active" for="Colaboradores">Cantidad de Colaboradores Asignados</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="Duracion" name="Duracion" type="text" class="validate"  [(ngModel)]="this.projectSelect.Duracion" (change)="changeValue();">
                        <label class="active" for="Duracion">Duracion</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="Costo" name="Costo" type="text" class="validate"  [(ngModel)]="this.projectSelect.Costo" (change)="changeValue();">
                        <label class="active" for="Costo">Costo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="Porcentaje" name="Porcentaje" type="text" class="validate"  [(ngModel)]="this.projectSelect.PorcentajeAvance"  (change)="changeValue();">
                        <label class="active" for="Porcentaje">Porcentaje de avance</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="datepicker2" name="FechaFin" type="text" class="datepicker"  [(ngModel)]="this.projectSelect.FechaFinProyecto"  (change)="changeValue();">
                        <label class="active" for="FechaFin">Fecha Fin</label>
                    </div>
                </div>
                <div class="row">
                <div class="input-field col s6">
                    <a class="btn btn-large btn-register waves-effect waves-light orange {{this.flagValidate}}" (click)="submitP();" type="submit" name="action">Aceptar
                        <i class="material-icons right">done</i>
                    </a>
                </div>
        
                <div class="input-field col s6">
                    <a class="btn btn-large btn-register waves-effect waves-light red" name="action" (click)="cerrar();">Cancelar
                    <i class="material-icons right">close</i>
                    </a>
                </div>
                </div>
            </form>
        </div>
    </div>
    </ng-container>
    
  </div>


