#project {
    padding-top: 5%;
    
  }

body {
    background-color: #f2f2f2;
    letter-spacing: 0.25px;
  }
  
  .container {
    margin-top: 30px;
    max-width: 500px;
  }
  
  .card {
    overflow: auto;
  }
  
  .waves-effect {
    width: 100%;
  }
  
  .subheader {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0.75rem 16px;
  }
  
  .list-divider {
    border: 0;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin-right: 16px;
    margin-left: 75px;
  }
  
  .list {
    margin: 0;
  }
  
  .list li {
    padding: 0 16px;
  }
  
  .list li .valign-wrapper {
    min-height: 72px;
  }
  
  .list i.circle {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.26);
  }
  
  .list .title span {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  i.ml-auto {
    color: rgba(0, 0, 0, 0.26);
  }
  

  .container-from {
    background: white;
    padding: 20px 25px;
    border: 5px solid #e76a21;
    width: 550px;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }
  .col.s6 > .btn {
     width: 100%;
  }
  .gender-male,.gender-female {
    display: inline-block;
  }
  .gender-female {
    margin-left: 35px;
  }
  radio:required {
    border-color: red;
  }
  .container {
    animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
  }
  
  @keyframes showUp {
    0% {
      transform: scale(0);
    }
    100% {
      transoform: scale(1);
    }
  }
  .row {margin-bottom: 10px;}
  
  .ngl {
    position: absolute;
    top: -20px;
    right: -20px;
  }

  .ripple{
    position: relative;
    overflow: hidden; 
  }
  
  .ripple:before {
    border-radius: 50%;
    background-color: rgba(241, 136, 16, 0.856);
    content:'';
    position: absolute;
    top: 50%; left: 50%;
    width:0; height:0;
  }
  
  .ripple:focus:before {
    transition: all 0.5s ease-out;
    opacity:0;
    width:160px;
    height:160px;
    margin-top:-80px;
    margin-left:-80px;
  }
  