<div class="container-fluid">
    <div class="row">
        <div class="col s12 m12">
            <div id="table-datatables" >
                <h4 class="header center">Lista de Proyectos</h4>
            <div class="row">
                <div class="col s12">
                    <table datatable id="data-table-simple" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="bordered highlight responsive-table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Duracion-Dias</th>
                                <th>Costo Declarado</th>
                                <th>Costo Estimado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prj of this.projects; let i = index">
                                
                                <td>{{prj.NombreProyecto}}</td>
                                <td>{{prj.FechaInicioProyecto}}</td>
                                <td>{{prj.FechaFinProyecto}}</td>
                                <td>{{prj.Duracion}}</td>
                                <td>{{prj.Costo}}</td>
                                <td>{{this.predicted2[i] | number : '1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            </div> 
        </div>
    </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/blazeface"></script>
