<header>
	<nav>
		<div class="nav-wrapper deep-orange lighten-2">
			<div class="row">
				<div class="col s12">
					<a href="#" data-target="sidenav-1" class="left sidenav-trigger hide-on-medium-and-up"><i class="material-icons">menu</i></a>
					<a href="/" target="_blank" class="brand-logo">UTProject</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="project">Proyectos</a></li>
            <li><a routerLink="users">Recursos</a></li>
            <li><a routerLink="predict">Predicciones</a></li>
            <li><a href="/" (click)="signOut()">Sign Out</a></li>
          </ul>
				</div>
			</div>
		</div>
	</nav>
</header>

<!-- LEFT SIDEBAR	 -->
<ul id="sidenav-1" class="sidenav sidenav-fixed">
	<li><div class="user-view">
    <div class="background deep-orange lighten-2">
    </div>
    <a href="#user"><img class="circle" src="assets/usuario.png"></a>
    <a href="#name"><span class="white-text name">{{this.nombre}}</span></a>
    <a href="#email"><span class="white-text email">{{this.email}}</span></a>
  </div></li>
  <li><a routerLink="edit-user"><i class="material-icons">edit</i>Editar Perfil</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Tareas</a></li>
  <li><a href="#!">Cronograma</a></li>
  <li><a class="waves-effect" href="#!">Pendientes</a></li>
  <li><a class="waves-effect" href="#!">Asignaciones</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Configuración</a></li>
  <li><a href="#!"><i class="material-icons">settings</i>Opciones Avanzadas</a></li>
</ul>


<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>