<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form class="login-form" (submit)="login()">
        <div class="row">
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mail_outline</i>
            <input class="validate required" id="email" type="email" [(ngModel)]="user.email" name="email">
            <label for="email" data-error="wrong" data-success="right">Correo Electrónico</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="password" type="password" [(ngModel)]="user.password" name="password">
            <label for="password required">Contraseña</label>
          </div>
        </div>
        <div class="row">          
          <div class="input-field col s12 m12 l12  login-text">
            <label>
              <input type="checkbox" class="filled-in" checked="checked" [formControl]="rememberLoginControl"/>
              <span>Mantener sesión activa</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light col s12 deep-orange lighten-2" type="submit">Ingresar</button>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="margin medium-small"><a routerLink="register">Registrate!</a></p>
          </div>          
        </div>
        <ng-container *ngIf="signInError;">
          <div class="divider"></div>
          <div class="row mt">
            <div class="col s12">
              <span class="red-text">Correo o Contraseña invalido</span>
            </div>          
          </div>
        </ng-container>
      </form>
    </div>
  </div>
