<div class="container-fluid">
    <div class="row">
        <div class="col s12 m12">
            <div id="table-datatables" >
                <h4 class="header center">Lista de Asociados</h4>
            <div class="row">
                <div class="col s12">
                    <table datatable id="data-table-simple" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="bordered highlight responsive-table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Correo</th>
                                <th>Rol</th>
                                <th>Proyecto Asignado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of arrRes; let i = index">
                                
                                <td>{{user.nombre}}</td>
                                <td>{{user.primerapellido}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.rol}}</td>
                                <td>
                                    <div class="input-field">
                                        <select [(ngModel)]="this.arrProRes[i].proj" name="Rol" (change)="cambiarRol($any($event.target).value,user._id)" >
                                          <option value="0" disabled selected>Sin proyecto</option>
                                          <ng-container>
                                          <option *ngFor="let item of this.arrPro" [value]="item.NombreProyecto">{{item.NombreProyecto}}</option>
                                          </ng-container>
                                        </select>
                                      </div>                              
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            </div> 
        </div>
    </div>
</div>