/* You can add global styles to this file, and also import other style files */
header, main, footer {
    padding-left: 150px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }